<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
	<PropertyGroup>
		<WebPublishMethod>Custom</WebPublishMethod>
		<DockerPublish>true</DockerPublish>
		<RegistryUrl>https://cr-annie.bigredprof.net</RegistryUrl>
		<UserName />
		<PublishImageTag>latest</PublishImageTag>
		<PublishProvider>ContainerRegistry</PublishProvider>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<ProjectGuid>8786fafb-b7d8-4760-8158-d038e1389f12</ProjectGuid>
		<_TargetId>DockerCustomContainerRegistry</_TargetId>
	</PropertyGroup>
</Project>